.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
.github
.env
ehthumbs.db
Thumbs.db
node_modules
yarn.lock
package-lock.json

!ci/**

build/fonts/
tasks
.babelrc.json
.browserslistrc
.eslintrc.json
.jshintrc
gulpfile.babel.js
package.json
README.md
webpack.config.js