mixin iconOne
	svg(width='53' height='60' viewBox='0 0 53 60' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M26.6667 20.3333C26.6667 21.622 25.622 22.6667 24.3333 22.6667C23.0447 22.6667 22 21.622 22 20.3333C22 19.0447 23.0447 18 24.3333 18C25.622 18 26.6667 19.0447 26.6667 20.3333Z' fill='#3D4046')
		path(d='M36 20.3333C36 21.622 34.9553 22.6667 33.6667 22.6667C32.378 22.6667 31.3333 21.622 31.3333 20.3333C31.3333 19.0447 32.378 18 33.6667 18C34.9553 18 36 19.0447 36 20.3333Z' fill='#3D4046')
		path(d='M43 22.6667C44.2887 22.6667 45.3333 21.622 45.3333 20.3333C45.3333 19.0447 44.2887 18 43 18C41.7113 18 40.6667 19.0447 40.6667 20.3333C40.6667 21.622 41.7113 22.6667 43 22.6667Z' fill='#3D4046')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M33.5376 3.68959e-05C28.787 -0.00927174 24.1987 1.7431 20.6322 4.92465C17.0661 8.10582 14.7666 12.4969 14.1602 17.2734C13.5538 22.0497 14.6813 26.8883 17.3341 30.8829C19.9871 34.8779 23.985 37.756 28.5813 38.973C33.0371 40.1527 37.7547 39.6916 41.9007 37.6812L52.8497 41.5829L49.875 30.5614C52.3632 26.6529 53.4188 21.975 52.8493 17.3491C52.2609 12.5703 49.9781 8.17024 46.4242 4.97515C42.8699 1.77968 38.2882 0.00934553 33.5376 3.68959e-05ZM21.9636 6.41711C25.1655 3.56072 29.2794 1.9917 33.5337 2.00003C37.788 2.00837 41.8959 3.5935 45.0871 6.46246C48.2787 9.33179 50.3343 13.2888 50.8642 17.5934C51.3942 21.8982 50.3613 26.2502 47.962 29.8333L47.7089 30.2112L49.9237 38.4171L41.7636 35.5092L41.3788 35.7066C37.5785 37.6564 33.2108 38.1298 29.0932 37.0396C24.9752 35.9493 21.3856 33.3686 19.0001 29.7765C16.6144 26.184 15.598 21.8279 16.1443 17.5253C16.6905 13.2228 18.7612 9.27388 21.9636 6.41711Z' fill='#3D4046')
		path(d='M11.0781 23H0V51H5V60.2091L15.4861 51H45V42H43V49H14.7326L7 55.7909V49H2V25H11.0781V23Z' fill='#3D4046')
		path(d='M13 32H7V30H13V32Z' fill='#3D4046')
		path(d='M7 38H17V36H7V38Z' fill='#3D4046')
		path(d='M24.9985 44.03L6.99854 44L7.00186 42L25.0018 42.03L24.9985 44.03Z' fill='#3D4046')

mixin iconTwo
	svg(width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M15.2424 8.39398C14.1093 8.39398 13.024 8.84712 12.2246 9.65149C11.629 10.2516 11.2238 11.0158 11.06 11.8461C10.8962 12.6763 10.9804 13.5368 11.3023 14.3193C11.6242 15.1017 12.1697 15.7717 12.8709 16.2435C13.5723 16.7155 14.3975 16.9678 15.2424 16.9678C16.0872 16.9678 16.9125 16.7155 17.6138 16.2435C18.315 15.7717 18.8606 15.1017 19.1825 14.3193C19.5043 13.5368 19.5886 12.6763 19.4248 11.8461C19.261 11.0158 18.8557 10.2516 18.2602 9.65149C17.4607 8.84712 16.3755 8.39398 15.2424 8.39398ZM13.6433 11.0611C14.0688 10.6331 14.6441 10.394 15.2424 10.394C15.8406 10.394 16.4159 10.6331 16.8414 11.0611C17.1583 11.3806 17.3748 11.7883 17.4626 12.2332C17.5504 12.6783 17.5052 13.1395 17.3329 13.5583C17.1606 13.9771 16.8694 14.3338 16.4972 14.5842C16.1252 14.8346 15.6885 14.9678 15.2424 14.9678C14.7963 14.9678 14.3596 14.8346 13.9875 14.5842C13.6153 14.3338 13.3241 13.9771 13.1519 13.5583C12.9796 13.1395 12.9343 12.6783 13.0221 12.2332C13.1099 11.7883 13.3265 11.3806 13.6433 11.0611Z' fill='white')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M33.9792 19.5715C32.5254 18.1074 30.1681 18.1063 28.7141 19.5706C27.2601 21.0348 27.2611 23.4087 28.715 24.8728C30.1689 26.3369 32.5262 26.338 33.9802 24.8738C35.4342 23.4095 35.4331 21.0356 33.9792 19.5715ZM30.1233 20.9897C30.7984 20.3099 31.8938 20.3097 32.57 20.9907C33.2462 21.6716 33.246 22.7748 32.5709 23.4546C31.8959 24.1344 30.8005 24.1346 30.1242 23.4537C29.448 22.7727 29.4483 21.6696 30.1233 20.9897Z' fill='white')
		path(d='M21.6629 30.0386L39.8998 29.8154L39.8756 27.8085L21.6387 28.0317L21.6629 30.0386Z' fill='white')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M34.3062 33.1598C32.8523 31.6957 30.495 31.6947 29.041 33.1589C27.587 34.6232 27.5881 36.9971 29.0419 38.4612C30.4958 39.9253 32.8531 39.9263 34.3071 38.4621C35.7611 36.9979 35.76 34.624 34.3062 33.1598ZM30.4502 34.5781C31.1253 33.8983 32.2207 33.898 32.8969 34.579C33.5731 35.26 33.5729 36.3631 32.8978 37.0429C32.2228 37.7227 31.1274 37.723 30.4512 37.042C29.775 36.361 29.7752 35.2579 30.4502 34.5781Z' fill='white')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M25.1611 0H3V22.393L34.4785 54.088L56.743 31.6773L25.1611 0ZM5 21.5686V2H24.3309L53.9213 31.6798L34.4787 51.2501L5 21.5686Z' fill='white')
		path(d='M5.58772 28.0244L4.16889 29.434L34.4928 59.9568L55.376 38.9365L53.9571 37.527L34.4928 57.1191L5.58772 28.0244Z' fill='white')

mixin iconThree
	svg(width='59' height='59' viewBox='0 0 59 59' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M17.3822 27.1996C16.5022 27.9196 16.0422 28.9329 16.0022 30.2396H18.7422C18.7956 29.7996 18.9822 29.3996 19.3022 29.0396C19.6222 28.6796 20.1022 28.4996 20.7422 28.4996C21.3822 28.4996 21.8756 28.6596 22.2222 28.9796C22.5689 29.2996 22.7422 29.7329 22.7422 30.2796C22.7422 31.5463 21.7956 32.1796 19.9022 32.1796H19.3222V34.4796H19.9022C20.9822 34.4796 21.7689 34.6529 22.2622 34.9996C22.7689 35.3329 23.0222 35.8529 23.0222 36.5596C23.0222 37.2663 22.8356 37.8129 22.4622 38.1996C22.1022 38.5729 21.5689 38.7596 20.8622 38.7596C20.1556 38.7596 19.5889 38.5663 19.1622 38.1796C18.7489 37.7796 18.5289 37.2529 18.5022 36.5996H15.7822C15.8222 38.0663 16.3156 39.1796 17.2622 39.9396C18.2089 40.6996 19.4289 41.0796 20.9222 41.0796C22.4156 41.0796 23.5889 40.6996 24.4422 39.9396C25.2956 39.1796 25.7222 38.1796 25.7222 36.9396C25.7222 35.0729 24.9222 33.8663 23.3222 33.3196V33.2396C23.8689 33.0529 24.3622 32.6729 24.8022 32.0996C25.2422 31.5129 25.4622 30.7929 25.4622 29.9396C25.4622 28.8329 25.0556 27.9196 24.2422 27.1996C23.4289 26.4663 22.3022 26.0996 20.8622 26.0996C19.4356 26.0996 18.2756 26.4663 17.3822 27.1996Z' fill='#3D4046')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M33.2949 26.4596C29.7082 26.4596 27.9149 28.8796 27.9149 33.7196C27.9149 38.5463 29.7082 40.9596 33.2949 40.9596C36.8949 40.9596 38.6949 38.5463 38.6949 33.7196C38.6949 28.8796 36.8949 26.4596 33.2949 26.4596ZM33.3149 29.0596C33.7682 29.0596 34.1616 29.1463 34.4949 29.3196C34.8282 29.4929 35.0816 29.7129 35.2549 29.9796C35.4416 30.2463 35.5882 30.5996 35.6949 31.0396C35.8016 31.4663 35.8682 31.8796 35.8949 32.2796C35.9349 32.6796 35.9549 33.1529 35.9549 33.6996C35.9549 34.2463 35.9349 34.7196 35.8949 35.1196C35.8682 35.5196 35.8016 35.9396 35.6949 36.3796C35.5882 36.8063 35.4416 37.1596 35.2549 37.4396C35.0816 37.7063 34.8282 37.9263 34.4949 38.0996C34.1616 38.2729 33.7682 38.3596 33.3149 38.3596C32.8615 38.3596 32.4682 38.2729 32.1349 38.0996C31.8015 37.9263 31.5416 37.7063 31.3549 37.4396C31.1816 37.1596 31.0416 36.8063 30.9349 36.3796C30.8282 35.9396 30.7549 35.5196 30.7149 35.1196C30.6882 34.7196 30.6749 34.2463 30.6749 33.6996C30.6749 33.1529 30.6882 32.6796 30.7149 32.2796C30.7549 31.8796 30.8282 31.4663 30.9349 31.0396C31.0416 30.5996 31.1816 30.2463 31.3549 29.9796C31.5416 29.7129 31.8015 29.4929 32.1349 29.3196C32.4682 29.1463 32.8615 29.0596 33.3149 29.0596Z' fill='#3D4046')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M14 3.5V5H39V3.5C39 1.567 40.567 0 42.5 0C44.433 0 46 1.567 46 3.5V5H53V53H0V5H7V3.5C7 1.567 8.567 0 10.5 0C12.433 0 14 1.567 14 3.5ZM46 7V8.5C46 10.433 44.433 12 42.5 12C40.567 12 39 10.433 39 8.5V7H14V8.5C14 10.433 12.433 12 10.5 12C8.567 12 7 10.433 7 8.5V7H2V15H51V7H46ZM10.5 2C9.67157 2 9 2.67157 9 3.5V8.5C9 9.32843 9.67157 10 10.5 10C11.3284 10 12 9.32843 12 8.5V3.5C12 2.67157 11.3284 2 10.5 2ZM2 17H51V51H2V17ZM41 3.5C41 2.67157 41.6716 2 42.5 2C43.3284 2 44 2.67157 44 3.5V8.5C44 9.32843 43.3284 10 42.5 10C41.6716 10 41 9.32843 41 8.5V3.5Z' fill='#3D4046')
		path(d='M59 59V14H57V57H6V59H59Z' fill='#3D4046')

mixin faq
	svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M22 2V24H2V2H5C6.23 2 7.181 0.916 8 0H16C16.82 0.916 17.771 2 19 2H22ZM11 3C11 3.552 11.448 4 12 4C12.553 4 13 3.552 13 3C13 2.448 12.553 2 12 2C11.448 2 11 2.448 11 3ZM20 4H16L14 6H10.103L8 4H4V22H20V4ZM7 13.729L7.855 12.938C8.855 13.422 9.49 13.79 10.615 14.592C12.728 12.193 14.126 10.976 16.721 9.361L17 10.001C14.859 11.87 13.291 13.95 11.033 18C9.64 16.36 8.711 15.314 7 13.729Z' fill='#0071CE')

mixin mail
	svg(width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M1 4V21H23V4H1ZM20.7248 5.88889L12 13.1734L3.27517 5.88889H20.7248ZM2.83333 19.1111V7.95061L12 15.6044L21.1667 7.95061V19.1111H2.83333Z' fill='#0071CE')

section.six
	.container
		.six__grid
			// item
			.six__grid-item
				i
					+iconOne

				.six__grid-content
					h3.six__grid-title Need a hand?

					p If you need any help or have questions about Devart tools or purchasing options, do not hesitate to get in touch with us.

					.six__grid-links
						a.six__grid-link(href='#')
							i
								+faq

							span Purchasing FAQ

						a.six__grid-link(href='mailto:sales@devart.com')
							i
								+mail

							span sales@devart.com

			// item
			.six__grid-item
				i.six__grid-icon
					+iconTwo

				h3.six__grid-title.six__grid-title--lg Buy multiple licenses with a substantial discount

				p We provide flexible purchase options, including bulk discounts, to meet the budget of each and every customer.

				.six__grid-footer
					.six__grid-footer-item
						span Start from:

						span.six__grid-footer-price $149.95

					.six__grid-footer-item
						a.btn.btn--white(href='#') purchase now

			// item
			.six__grid-item
				i
					+iconThree

				.six__grid-content
					h3.six__grid-title Get started with SQL Complete at no cost

					p Download a FREE trial version and see how much time you can save on your coding and database deployment today.

					a.btn(href='#') download free
