mixin aqlComplete
	svg(width='45' height='51' viewBox='0 0 45 51' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M45 12.7261V38.2694L22.5 51.0437L0 38.2694V12.7261L22.5 -0.0429688L45 12.7261Z' fill='#881ADB')
		path(d='M22.5 -0.0426617L0 12.7264L22.5 25.5007V25.5004V-0.0429688V-0.0426617Z' fill='#A653E4')
		path(d='M22.5 25.5L0 38.269L22.5 51.0436V25.5003' fill='#5E11CE')
		path(d='M45 12.7266L22.5 25.5008L45 38.2699V38.2693V12.7266Z' fill='#5E11CE')
		path(d='M22.5 -0.0429688V25.5004L45 12.7264L22.5 -0.0426617' fill='#8736DB')
		path(d='M22.5 25.5003V51.043L45 38.2687L22.5 25.5' fill='#3D0BBD')
		path(d='M36.2816 17.3102H33.0481V23.9113H15.8534L20.6484 19.1969L18.3625 16.9492L9.66406 25.5006L18.3625 34.0523L20.6484 31.8047L15.8534 27.0902H36.2816V17.3102Z' fill='white')

main.main
	include ../../section/one/one
	#sticky.block
		.container
			.block__wrap
				.block__item
					a.block__link(href='#')
						i
							+aqlComplete

						span SQL Complete

				.block__item
					a.btn(href='#') buy now

	include ../../section/two/two
	include ../../section/three/three
	include ../../section/four/four
	include ../../section/five/five
	include ../../section/six/six
	include ../../section/seven/seven
