section.one
	.container
		.one__content
			.one__header
				h1.one__title
					sapn.one__title-mark Achieve the next level productivity

					sapn.one__title-free dbForge
						strong  SQL Complete

						span.one__title-badge
							span Free edition available

				p.one__desc An advanced IntelliSense-style code completion add-in for SSMS and VS

				.one__buttons
					a.btn(href='#') download

					a.btn.btn--border(href='#') buy now
