section.four
	.container
		h2.title.text-center Unveil differences between formatting of predefined styles

		.four__content
			h3.four__tabs-title Formatting profiles

			.tabs.tabs--vertical
				.tabs__items
					button.tabs__item Collapsed
					button.tabs__item.is-active Commas brfore
					button.tabs__item Compact
					button.tabs__item Default
					button.tabs__item Extended

				.tabs__contents
					.tabs__content
						strong Collapsed

					.tabs__content.is-active
						img(src='img/section/four/img/tab-img.png', alt='')

					.tabs__content
						strong Compact

					.tabs__content
						strong Default

					.tabs__content
						strong Extended
