section.five
	.container
		h2.title Leading companies choose dbForge Products

		.five__grid
			.five__grid-item
				img.five__grid-img(src='img/section/five/img/1.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/2.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/3.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/4.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/5.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/6.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/7.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/8.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/9.svg', alt='')

			.five__grid-item
				img.five__grid-img(src='img/section/five/img/10.svg', alt='')
