footer.footer
	.container
		.footer__content
			.footer__content-item
				p © 1997 - 2019 Devart. All rights reserved.

			.footer__content-item
				ul.ul.footer__list
					li.footer__list-item
						a.footer__list-link(href='#') Privacy & Security

					li.footer__list-item
						a.footer__list-link(href='#') Terms of Use

			.footer__content-item
				button#backTop.back-top
					span.back-top__text Back on Top
					i.back-top__icon
						svg(width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(fill-rule='evenodd' clip-rule='evenodd' d='M10 4.646L5 0L0 4.646L1.25 5.834L4.157 3.121V10.01H5.845V3.122L8.75 5.834L10 4.646Z' fill='#007FE8')
