mixin sqlLogo
	svg(width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(d='M25.3659 10.5915V21.4066L16 26.8152L6.63416 21.4066V10.5915L16 5.18506L25.3659 10.5915Z' fill='#881ADB')
		path(d='M16 5.18502L6.63416 10.5915L16 16.0001V16V5.18489V5.18502Z' fill='#A653E4')
		path(d='M16 15.9999L6.63416 21.4063L16 26.8151V16' fill='#5E11CE')
		path(d='M25.3659 10.5915L16 16.0001L25.3659 21.4066V21.4063V10.5915Z' fill='#5E11CE')
		path(d='M16 5.18489V16L25.3659 10.5915L16 5.18502' fill='#8736DB')
		path(d='M16 16.0001V26.815L25.3659 21.4063L16 16' fill='#3D0BBD')
		path(d='M18.8416 20.0104H11.4897V18.6644H18.8416C19.1057 18.6644 19.3589 18.5595 19.5456 18.3728C19.7324 18.1861 19.8373 17.9328 19.8373 17.6688C19.8373 17.4047 19.7324 17.1515 19.5456 16.9648C19.3589 16.778 19.1057 16.6731 18.8416 16.6731H13.1585C12.5374 16.6731 11.9418 16.4264 11.5026 15.9873C11.0635 15.5481 10.8168 14.9525 10.8168 14.3315C10.8168 13.7104 11.0635 13.1148 11.5026 12.6756C11.9418 12.2365 12.5374 11.9898 13.1585 11.9898H20.5103V13.3358H13.1585C13.0274 13.3353 12.8975 13.3607 12.7763 13.4105C12.6551 13.4603 12.5449 13.5336 12.4521 13.6261C12.3592 13.7186 12.2856 13.8285 12.2353 13.9496C12.1851 14.0706 12.1592 14.2004 12.1592 14.3314C12.1592 14.4625 12.1851 14.5923 12.2353 14.7133C12.2856 14.8343 12.3592 14.9442 12.4521 15.0368C12.5449 15.1293 12.6551 15.2025 12.7763 15.2523C12.8975 15.3022 13.0274 15.3276 13.1585 15.3271H18.8416C19.1496 15.3264 19.4547 15.3864 19.7394 15.5038C20.0242 15.6211 20.283 15.7935 20.501 16.011C20.719 16.2285 20.892 16.4869 21.01 16.7713C21.128 17.0558 21.1888 17.3608 21.1888 17.6687C21.1888 17.9767 21.128 18.2816 21.01 18.5661C20.892 18.8506 20.719 19.109 20.501 19.3265C20.283 19.544 20.0242 19.7163 19.7394 19.8337C19.4547 19.951 19.1496 20.0111 18.8416 20.0104V20.0104Z' fill='white')

mixin arrowNext
	svg(width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M0 1.5L1.5 0L8 6.5L1.5 13L0 11.5L5 6.5L0 1.5Z' fill='#3D4046')

mixin arrowPrev
	svg(width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg')
		path(fill-rule='evenodd' clip-rule='evenodd' d='M8 11.5L6.5 13L5.68248e-07 6.5L6.5 -1.31134e-07L8 1.5L3 6.5L8 11.5Z' fill='#3D4046')

.swiper.slider
	.swiper-wrapper
		// item
		.swiper-slide
			.slider__item
				.slider__item-bg
					img.slider__item-img(src='img/components/slider/img/slider-1.jpg', alt='')

					img.slider__item-logo(src='img/components/slider/img/logo-1.png', srcset='img/components/slider/img/logo-1.png 1x, img/components/slider/img/logo-1@2x.png 2x, img/components/slider/img/logo-1@3x.png 3x', alt='')

				.slider__item-content
					h3.slider__item-title MCS GROUP

					p.slider__item-desc "...a powerful tool for developing a help system with auto format support..."

					a.slider__item-link(href='#')
						i
							+sqlLogo

						span dbForge Studio for SQL Server

		// item
		.swiper-slide
			.slider__item
				.slider__item-bg
					img.slider__item-img(src='img/components/slider/img/slider-2.jpg', alt='')

					img.slider__item-logo(src='img/components/slider/img/logo-2.svg', alt='')

				.slider__item-content
					h3.slider__item-title Nordhausen University

					p.slider__item-desc "...we found out that it is a perfect tool for us due to its simplicity, usability, cost-effectiveness..."

					a.slider__item-link(href='#')
						i
							+sqlLogo

						span dbForge Studio for SQL Server

		-for (let i = 0; i < 12; i++)
			// item
			.swiper-slide
				.slider__item
					.slider__item-bg
						img.slider__item-img(src='img/components/slider/img/slider-3.jpg', alt='')

						img.slider__item-logo(src='img/components/slider/img/logo-3.svg', alt='')

					.slider__item-content
						h3.slider__item-title Elements Financial

						p.slider__item-desc "...this add-in has greatly improved our day to day code writing abilities..."

						a.slider__item-link(href='#')
							i
								+sqlLogo

							span dbForge Studio for SQL Server

	.swiper-nav
		.swiper-button-prev
			+arrowPrev

		.swiper-pagination

		.swiper-button-next
			+arrowNext
